import React, { Component } from 'react';
import { ScTable,ScSearchBar } from 'sc-dva-antd-pro'
import { Button,Modal,message } from 'antd'
import  {ListPageTpl} from 'pagetpl'
import Toolbar from 'components/Toolbar';
import router from 'umi/router';
import {pageConfig} from './components/pageConfig'
import {generatorSearchInfo,generatorTaleInfo} from 'utils/pageUtils'
import {model,list} from 'annotation'




const Operation=ScTable.Operation;

@model()
@list()
<% for(var key in module){%>
export default class <%=module[key]['className'] %> extends Component {
    render(){
        <% if(module[key].isQuery) {%>
        const queryInfo=generatorSearchInfo(pageConfig);
        <% }%>
        const columns=generatorTaleInfo(pageConfig);
        const {modalState}=this.state
        const {dispatch,modelData}=this.props;
        let {params}=modelData;
        let _that=this;
        let tableColumns=[...columns, {
            title: '操作',
            fixed: 'right',
            width:250,
            render: (text, record, index) => {
            },
        }]
        const toolbar= (<Toolbar>
            <Button icon="plus" type="primary"  onClick={
                function goToListPage() {
                    router.push('');
                }
            }>
            新建
            </Button>
        </Toolbar>)
        return(
        <ListPageTpl toolbar={toolbar}>
            <% if(module[key].isQuery) {%>
            <ScSearchBar type={'<%=module[key]['namespace'] %>/search'} {...queryInfo} />
            <% }%>
            <ScTable modelKey={'data'} type={'<%=module[key]['namespace'] %>/queryPage'} params={params}  autoload={true} columns={tableColumns}></ScTable>
        </ListPageTpl>
        )
    }
}
<% }%>
